heading {
	display: block;
	font-size: 60px;
	text-align: center;
	font-weight: bold;
	color: #000000;
	background-color: #f6dba7;
}

title, artists, genre, year, artist {
	display: block;
	text-align: center;
	color: #eca02c;
	width: 100%;
}

title {
	font-size: 40px;
}

artist, genre, year {
	font-size: 20px;
}

song {
	background-color: #f4eef6;
	padding: 20px;
}
