heading {
	font-size: 60px;
	text-align: center;
	font-weight: bold;
	color: #DF1D1D;
	background-color: #000000;
}

title, artists, genre, year {
	display: block;
	text-align: center;
	color: #2B24F3;
}

title {
	font-size: 40px;
}

artist, genre, year {
	font-size: 20px;
}
