heading {
	font-size: 60px;
	text-align: center;
	font-weight: bold;
	font-color: #DF1D1D;
}

title, artists, genre, year {
	display: block;
}

title {
	font-size: 40px;
	font-color: #2B24F3;
}

artist {
	font-size: 10px;
	font-color: red;
}

genre {
	font-size: 10px;
	font-color: red;
}

year {
	font-size: 10px;
	font-color: red;
}
